 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: #000;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

.header {
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 1140px;
    height: 100px;
    color: #fff;
}

.logo {
    width: 100px;
}

.logo-img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-image: url(../images/fox.png);
    background-position: center;
    background-repeat: no-repeat;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul, .menu li {
    list-style: none;
}

.menu ul {
    display: flex;
    gap: 10px;
}

.menu li a {
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    height: 100px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 5px solid #000;
    transition: 90ms ease-in;
}

.menu li a:hover, .menu .active a {
    color: #ddd;
    border-bottom: 5px solid #b28756;
}

.menu li a:not(:hover) {
    transition: 0.2s ease-in;
}

.banner {
    height: calc(100vh - 100px);
    overflow: hidden;
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    width: 100vw;
    height: 100%;
}

.banner .slide-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    text-transform: uppercase;
    text-align: justify;
    line-height: 50px;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #b28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

.button {
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 20px;
}

.button.dark {
    background-color: #373737;
}

.button.dark:hover {
    transition: 90ms ease-in;
    background-color: #b28756;
}

.button.dark:not(:hover) {
    transition: 90ms ease-in;
    background-color: #373737;
}

.banner .sliders-pointers {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -50px;
    width: 100vw;
    height: 20px;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 2px solid #b28756;
    border-radius: 8px;
    transition: 90ms ease-in;
}

.banner .pointer:hover {
    background-color: #b28756;
}

.banner .pointer.active {
    background-color: #b28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
}

.default .section-title {
    font-size: 26px;
    font-weight: bold;
}

.default .section-desc {
    font-size: 13px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 600;
}

.default .section-body {
    width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #f7f7f7;
}

.default.light.light-gray {
    background-color: #f1f1f1;
}

.default.light.gradient {
    background-image: linear-gradient(#f7f7f7, #f6f6f6);
}

.default.light .section-title,
.default.light .section-body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
    color: #fff;
}

.default.light.shadow {
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.default.light.gray {
    background-color: #ededed;
    box-shadow: inset 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}

.section-body .sliders-pointers {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 35px;
}

.section-body .pointer {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 2px solid #b28756;
    border-radius: 8px;
    transition: 90ms ease-in;
}

.section-body .pointer:hover {
    background-color: #b28756;
}

.section-body .pointer.active {
    background-color: #b28756;
}

/* SPECIFIC AREAS CSS */
.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1
}

.section-aboutus--left p {
    max-width: 600px;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus--right {
    width: 480px;
    text-align: center;
}

.section-aboutus--right img {
    width: 100%;
    box-shadow: 0px 5px 10px 5px rgba(33, 33, 33, 0.2);
}

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    line-height: 25px;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service img {
    max-height: 58px;
}

.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}



.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
    
}

.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
    background-color: #ccc;
}

.section-projects--filters ul {
    justify-content: center;
}

.section-projects--filters li {
    display: inline-flex;
    justify-content: center;
    background-color: #eee;
    margin-right: -5px;
    border-left: 1px solid #ccc;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: #555;
    border-bottom: 3px solid #eee;
    transition: 90ms ease-in;
}

.section-projects--filters li:first-child {
    border-left: 0;
}

.section-projects--filters li:hover,
.section-projects--filters .active {
    border-bottom: 3px solid #b28756;
    cursor: pointer;
}

.section-projects--filters li:not(:hover) {
    transition: 90ms ease-in;
}

.section-projects--photos {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    justify-content: center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
}

.section-projects--photoinfo h5 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoinfo p {
    padding: 0px 20px;
    text-align: justify;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
    transition: opacity 0.3s;
    opacity: 1;
}

.section-projects--photoarea .section-projects--photoinfo:not(:hover) {
    transition: opacity 0.3s;
    opacity: 0;
}

.bg-team {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders {
    width: 1000vw;
    height: 100%;
}

.section-team .slide {
    background-color: #fff;
    margin-right: 20px;
    display: inline-block;
    width: 280px;
    height: 100%;
    min-height: 300px;
}

.section-team .slide-area {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
    color: #000;
    justify-content: center;
    align-items: center;
}

.section-team-area .sliders-pointers {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 20px;
}

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 2px solid #b28756;
    border-radius: 8px;
    transition: 90ms ease-in;
}

.section-team-area .pointer:hover {
    background-color: #b28756;
}

.section-team-area .pointer.active {
    background-color: #b28756;
}

.section-team--avatar {
    width: 150px;
    height: auto;
}

.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 25px;
}

.section-team--role {
    font-size: 13px;
    color: #999;
    
}

.section-team--social {
    display: flex;
    margin-top: 20px;
}

.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 13px;
    transition: 90ms ease-in;
}

.section-team--social:last-child {
    margin-right: -10px;
}

.section-team--social a:hover {
    background-color: #b28756;
}

.section-team--social a:not(:hover) {
    transition: 0.2s ease-in;
}

.section-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-clients--avatar {
    margin-top: 20px;
}

.section-clients--name {
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 15px;
}

.section-clients--role {
    font-size: 16px;
    font-weight: 600;
}

.section-clients--quote {
    margin-top: 40px;
}

.section-clients--quote img {
    width: 26px;
}

.section-clients--desc {
    margin-top: 10px;
    max-width: 760px;
    line-height: 25px;
    color: #999;
    font-weight: 600;
    text-align: center;
}

.section-clients .sliders-pointers {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 20px;
}

.section-clients .pointer {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 2px solid #b28756;
    border-radius: 8px;
    transition: 90ms ease-in;
}

.section-clients .pointer:hover {
    background-color: #b28756;
}

.section-clients .pointer.active {
    background-color: #b28756;
}

.section-companies .section-companies--logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    gap: 75px;
    width: 100vw;
}

.section-companies--logo {
    max-width: 95px;
}

.section-companies--logos .section-companies--logo img {
    width: 95px;
}

.section-price-area {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.section-price--plan {
    background-color: #fff;
    padding: 25px 75px;
    text-align: center;
}

.section-price--name,
.section-price--pricing,
.section-price--sub {
    text-transform: uppercase;
    min-width: 110px;
}

.section-price--name {
    font-size: 16px;
    font-weight: 600;
}

.section-price--pricing {
    font-size: 28px;
    font-weight: bold;
    margin-top: 15px;
}

.section-price--sub {
    line-height: 20px;
    letter-spacing: 1px;
    color: #777;
}

.section-price--desc .price-desc-item {
    flex: 1;
    margin-top: 10px;
    font-size: 12px;
}

.section-price--plan .button {
    font-size: 12px;
    padding: 18px 40px;
}

.pointer:not(:hover) {
    transition:90ms ease-in;
}

.section-premium--area {
    display: flex;
    border-bottom: 2px solid #ccc;
}

.section-premium--left img {
    margin: 0px 0px 40px 85px;
}

.section-premium--right {
    display: flex;
    flex-direction: column;
}

.section-premium--right .section-premium--item {
    flex: 1;
}

.section-premium--left,
.section-premium--right {
    flex: 1;
}

.section-premium--item {
    display: flex;
    margin-bottom: 15px;
    gap: 25px;
}

.section-premium--item-text h4 {
    text-transform: uppercase;
    font-size: 20px;
    font-weight: bold;
}

.section-premium--item-text p {
    font-size: 14px;
    color: #999;
    line-height: 25px;
}

p.section-premium--item-features {
    text-transform: uppercase;
}

.section-premium--button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.section-premium--button a {
    padding: 15px 40px;
}

.section-facts-area {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 10px;
}

.section-facts-area .section-fact {
    flex: 1;
    padding: 35px;
}

.section-fact .fact-number {
    font-size: 40px;
    font-weight: bold;
    color: #b28756;
}

.section-fact .fact-underline {
    max-width: 18px;
    margin: auto;
    margin-top: 10px;
    border-bottom: 3px solid #777;
    text-align: center;
}

.section-fact h5 {
    min-height: 50px;
    margin-top: 5px;
    font-size: 18px;
    text-transform: uppercase;
}

.section-fact .fact-desc {
    color: #ccc;
    line-height: 20px;
}

.default.light.border {
    border-bottom: 3px solid #ccc;
    padding: 0;
    height: 90px;
}

.default.light.border.center {
    display: flex;
    align-items: center;
}

.section-sharing-area {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-around;
    align-items: center;
}

.section-sharing--icon-area {
    display: flex;
    align-items: center;
}

.section-sharing--share {
    cursor: pointer;
}

.section-sharing--share-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-sharing--share-icon img {
    width: 25px;
}

.section-sharing--text {
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 16px;
    color: #bbb;
}

.section-sharing--text.small {
    font-size: 14px;
}

.section-sharing--social-media {
    display: flex;
    gap: 75px;
}

.section-sharing--media-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    max-height: 25px;
    width: 25px;
    border-radius: 15px;
}

.section-sharing--media-icon#twitter {
    background-color: #35C4F0;
}

.section-sharing--media-icon#linkedin {
    background-color: #0F7CB5;
}

.section-sharing--media-icon#facebook {
    background-color: #295C93;
}

.section-sharing--media-icon#google-plus {
    background-color: #E74435;
}
.section-sharing--media-icon#pinterest {
    background-color: #B41E2A;
}

.section-contact--form-area {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-us--form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form--first-section {
    display: flex;
    gap: 35px;
}

.form--second-section {
    width: 100%;
}

.contact-us--form label {
    display: flex;
}

.contact-us--form label,
.form--first-section {
    margin-top: 10px;
}

.contact-us--form input {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    padding: 10px 10px 10px 0px;
    width: 300px;
    background-color: #f1f1f1;
    border: none;
    border-bottom: 2px solid #AFAFAF;
}

.contact-us--form input::placeholder {
    text-transform: uppercase;
    text-align: left;
    color: #AFAFAF;
}

.contact-us--form label:focus,
.contact-us--form input:focus {
    border-bottom: 2px solid #AFAFAF;
    outline: 0;
}

#form-name,
#form-email {
    flex: 1;
}

#form-subject,
#form-message {
    width: 100%;
}

#form-subject {
    margin-top: 30px;
}

#form-message {
    margin-top: 75px;
}

.form.button {
    padding: 15px 50px;
    margin-top: 65px;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    max-width: 200px;
}

.section-map {
    background-image: url(../../media/map.jpg);
    background-size: cover;
    background-position: center;
    padding: 30px 0px;
}

.section-map--area {
    width: 100vw;
    margin: auto;
    max-width: 1140px;
}

.section-map--info {
    width: 50%;
    padding: 30px;
    background-color: #fff;
}

.section-map--info-item {
    display: flex;
    align-items: center;
    color: #999;
    margin-bottom: 15px;
}

.section-map--info-item-img {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 15px;
    background-color: #999;
    border-radius: 15px;
}

.section-map--info-item-img img {
    width: 15px;
    height: auto;
}

.section-footer {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
}

.section-footer--left {
    display: flex;
}

.section-footer--social-media {
    display: flex;
    gap: 35px;
}

.section-footer--media-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    width: 25px;
    height: 25px;
    background-color: #373737;
    border-radius: 15px;
    cursor: pointer;
}

.section-footer--media-icon:hover {
    transition: 90ms ease-in;
    background-color: #b28756;
}

.section-footer--media-icon:not(:hover) {
    transition: 90ms ease-in;
}

.section-footer--middle {
    color: #ddd;
    font-size: 14px;
    line-height: 21px;
    padding: 0 25px;
}

.section-footer--right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #373737;
    padding: 30px;
}

.section-footer--right > form > input {
    padding: 15px;
    text-align: center;
    border: none;
    border-bottom: 2px solid #ccc;
    background-color: #373737;
    color: #ccc;
}

.section-footer--right > form > input::placeholder {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    color: #ccc;
}

.section-footer--right > form > input:focus::placeholder {
    transition: opacity 0.2s;
    opacity: 0;
}

.section-footer--right > form > input:not(:focus)::placeholder {
    transition: opacity 0.2s;
    opacity: 1;
}

.section-footer--right > form > input:focus {
    border-bottom: 2px solid #ccc;
    outline: 0;
}

.section-footer--right .button {
    padding: 15px 50px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 12px;
    text-align: center;
    max-width: 200px;
}