 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: #000;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.header {
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 1140px;
    height: 100px;
    color: #fff;
}

.logo {
    width: 100px;
}

.logo-img {
    width: 80px;
    height: 80px;
    background-color: #b28756;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul, .menu li {
    list-style: none;
}

.menu ul {
    display: flex;
    gap: 10px;
}

.menu li a {
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    height: 100px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 5px solid #000;
    transition: 90ms ease-in;
}

.menu li a:hover, .menu .active a {
    border-bottom: 5px solid #b28756;
}