 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100px;
    background-color: #000;
}

body {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-size: 13px;
    overflow-x: hidden;
}

.header {
    display: flex;
    margin: auto;
    align-items: center;
    max-width: 1140px;
    height: 100px;
    color: #fff;
}

.logo {
    width: 100px;
}

.logo-img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-image: url(../images/fox.png);
    background-position: center;
    background-repeat: no-repeat;
}

.menu {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}

.menu ul, .menu li {
    list-style: none;
}

.menu ul {
    display: flex;
    gap: 10px;
}

.menu li a {
    display: flex;
    align-items: center;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    text-decoration: none;
    height: 100px;
    padding-left: 5px;
    padding-right: 5px;
    border-bottom: 5px solid #000;
    transition: 90ms ease-in;
}

.menu li a:hover, .menu .active a {
    color: #ddd;
    border-bottom: 5px solid #b28756;
}

.banner {
    height: calc(100vh - 100px);
    overflow: hidden;
    background-color: #333;
    background-image: url('../images/bg.jpg');
    background-size: cover;
    background-position: bottom;
}

.banner .sliders {
    width: 1000vw;
    height: 100%;
}

.banner .slide {
    background-color: rgba(0, 0, 0, 0.8);
    display: inline-block;
    width: 100vw;
    height: 100%;
}

.banner .slide-area {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #fff;
    justify-content: center;
    align-items: center;
}

.banner h1 {
    text-transform: uppercase;
    text-align: justify;
    line-height: 50px;
    font-weight: bold;
    font-size: 50px;
}

.banner h1 span {
    color: #b28756;
}

.banner h2 {
    text-transform: uppercase;
    margin-top: 20px;
}

.button {
    display: inline-block;
    background-color: #b28756;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 14px;
    font-weight: 600;
    margin-top: 20px;
    padding: 10px 30px;
    border-radius: 20px;
}

.banner .sliders-pointers {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: -50px;
    width: 100vw;
    height: 20px;
}

.banner .pointer {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 2px solid #b28756;
    border-radius: 8px;
    transition: 90ms ease-in;
}

.banner .pointer:hover {
    background-color: #b28756;
}

.banner .pointer.active {
    background-color: #b28756;
}

.default {
    padding-top: 50px;
    padding-bottom: 50px;
}

.default .section-title,
.default .section-desc {
    text-align: center;
    text-transform: uppercase;
}

.default .section-title {
    font-size: 20px;
    font-weight: bold;
}

.default .section-desc {
    font-size: 13px;
    color: #ccc;
    margin-top: 10px;
    margin-bottom: 40px;
    font-weight: 600;
}

.default .section-body {
    width: 1140px;
    margin: auto;
}

.default.light {
    background-color: #f7f7f7;
}

.default.light.gradient {
    background-image: linear-gradient(#f7f7f7, #f6f6f6);
}

.default.light .section-title,
.default.light .section-body {
    color: #000;
}

.default.dark {
    background-color: #000;
}

.default.dark .section-title,
.default.dark .section-body {
    color: #fff;
}

.default.light.shadow {
    background-color: #fff;
    box-shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.5);
}


/* SPECIFIC AREAS CSS */
.section-aboutus {
    display: flex;
}

.section-aboutus--left {
    flex: 1
}

.section-aboutus--left p {
    max-width: 600px;
    font-weight: 600;
    font-size: 14px;
    line-height: 25px;
}

.section-aboutus--right {
    width: 480px;
    text-align: center;
}

.section-aboutus--right img {
    width: 100%;
    box-shadow: 0px 5px 10px 5px rgba(33, 33, 33, 0.2);
}

.section-services {
    display: flex;
}

.section-service {
    flex: 1;
    line-height: 25px;
    text-align: center;
    border-right: 1px solid #333;
    padding: 15px;
}

.section-service:first-child {
    border-left: 1px solid #333;
}

.section-service img {
    max-height: 58px;
}

.section-service h4 {
    margin-top: 20px;
    text-transform: uppercase;
    font-size: 18px;
}



.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    border: 1px solid #ccc;
    background-color: #eee;
    border-radius: 30px;
    display: inline-block;
    padding: 0 20px;
    
}

.section-projects--filters ul,
.section-projects--filters li {
    list-style: none;
    background-color: #ccc;
}

.section-projects--filters ul {
    justify-content: center;
}

.section-projects--filters li {
    display: inline-flex;
    justify-content: center;
    background-color: #eee;
    margin-right: -5px;
    border-left: 1px solid #ccc;
    padding: 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: #555;
    border-bottom: 3px solid #eee;
    transition: 90ms ease-in;
}

.section-projects--filters li:first-child {
    border-left: 0;
}

.section-projects--filters li:hover,
.section-projects--filters .active {
    border-bottom: 3px solid #b28756;
    cursor: pointer;
}

.section-projects--photos {
    display: flex;
    flex-wrap: wrap;
    width: 100vw;
    max-width: 1140px;
    margin-top: 20px;
    justify-content: center;
}

.section-projects--photo {
    width: 280px;
}

.section-projects--photoarea {
    margin: 10px;
    width: 260px;
    height: 160px;
}

.section-projects--photoarea img {
    width: inherit;
    height: inherit;
}

.section-projects--photoinfo {
    position: absolute;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    width: inherit;
    height: inherit;
    justify-content: center;
    align-items: center;
    color: #fff;
    opacity: 0;
}

.section-projects--photoinfo h5 {
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
}

.section-projects--photoinfo p {
    padding: 0px 20px;
    text-align: justify;
}

.section-projects--photoarea:hover .section-projects--photoinfo {
    display: flex;
    transition: opacity 0.3s;
    opacity: 1;
}

.bg-team {
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center;
    padding: 0;
}

.section-team-area {
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 50px;
    padding-bottom: 50px;
}

.section-team {
    overflow: hidden;
    max-width: 880px;
    margin: auto;
}

.section-team .sliders {
    width: 1000vw;
    height: 100%;
}

.section-team .slide {
    background-color: #fff;
    margin-right: 20px;
    display: inline-block;
    width: 280px;
    height: 100%;
    min-height: 300px;
}

.section-team .slide-area {
    display: flex;
    flex-direction: column;
    padding: 30px;
    height: 100%;
    color: #000;
    justify-content: center;
    align-items: center;
}

.section-team-area .sliders-pointers {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    height: 20px;
}

.section-team-area .pointer {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 2px solid #b28756;
    border-radius: 8px;
    transition: 90ms ease-in;
}

.section-team-area .pointer:hover {
    background-color: #b28756;
}

.section-team-area .pointer.active {
    background-color: #b28756;
}

.section-team--avatar {
    width: 150px;
    height: auto;
}

.section-team--name {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 17px;
    margin-top: 25px;
}

.section-team--role {
    font-size: 13px;
    color: #999;
    
}

.section-team--social {
    display: flex;
    margin-top: 20px;
}

.section-team--social a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    width: 25px;
    height: 25px;
    background-color: #ccc;
    border-radius: 13px;
    transition: 90ms ease-in;
}

.section-team--social:last-child {
    margin-right: -10px;
}

.section-team--social a:hover {
    background-color: #b28756;
}

.section-clients {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section-clients--avatar {
    margin-top: 20px;
}

.section-clients--name {
    font-size: 21px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 15px;
}

.section-clients--role {
    font-size: 16px;
    font-weight: 600;
}

.section-clients--quote {
    margin-top: 40px;
}

.section-clients--quote img {
    width: 26px;
}

.section-clients--desc {
    margin-top: 10px;
    max-width: 760px;
    line-height: 25px;
    color: #999;
    font-weight: 600;
    text-align: center;
}

.section-clients .sliders-pointers {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    height: 20px;
}

.section-clients .pointer {
    width: 15px;
    height: 15px;
    cursor: pointer;
    border: 2px solid #b28756;
    border-radius: 8px;
    transition: 90ms ease-in;
}

.section-clients .pointer:hover {
    background-color: #b28756;
}

.section-clients .pointer.active {
    background-color: #b28756;
}

.section-companies .section-companies--logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 1140px;
    gap: 75px;
    width: 100vw;
}

.section-companies--logo {
    max-width: 95px;
}

.section-companies--logos .section-companies--logo img {
    width: 95px;
}